[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pathlib = "*"
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
"psycopg2-binary" = "*"
twilio = "*"
requests = ">=2.20.0"
flasgger = "*"
passlib = "*"
flask-jwt-extended = "*"
gunicorn = "*"
gevent = "*"

[dev-packages]

pytest = "*"
pylint = "*"
yapf = "*"


[requires]

python_version = "3.6"
