[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
pathlib = "*"
flask = "*"
flask-restful = "*"
flask-jwt = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
pipenv = "*"


[dev-packages]
pytest = "*"

